{% extends 'crmusernav.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    body{
    background-color: #DFF5FF;
}
.content{

height: 25vh;

}

.content h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
}

.content h1:nth-child(1){
    color:transparent;
    -webkit-text-stroke: 1px #080808;
}

.content h1:nth-child(2){
    color: #0c0c0c;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate
{
    0%, 100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}
.footer_section {
    width: 100%;
    float: left;
    height: auto;
    background-color: #363636;
    background-size: 100%;
    padding: 50px 0px;
}

.footeer_logo{
    width: 100%;
    float: left;
    text-align: center;
}

.footer_section_2{
    width: 100%;
    float: left;
    padding-top: 50px;
}

.footer_taital {
    width: 100%;
    float: left;
    font-size: 26px;
    color: #fefefd;
    font-weight: bold;
    padding-bottom: 20px;
}

.lorem_text {
    width: 60%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    margin: 0px;
}

.footer_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    margin: 0px;
}

.social_icon {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
}

.social_icon li {
    float: left;
}

.social_icon li a {
    float: left;
    padding: 2px 7px;
    background-color: #ffffff;
    color: #2e2e2e;
    border-radius: 100%;
    font-size: 20px;
    margin-right: 5px;
    width: 41px;
    text-align: center;
    margin-top: 10px;
}

.social_icon li a:hover {
    background-color: #fe5b29;
    color: #ffffff;
}

.update_mail {
    color: #ffffff;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 10px 20px 0px 0px;
    background-color: transparent;
    border-bottom: 1px solid #ffffff !important;
    border: 0px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
}

textarea#comment::placeholder {
    color: #fff;
}

.subscribe_bt {
    width: 140px;
    float: right;
    margin-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 0px;
    text-transform: uppercase;
    background-color: #fe5b29;
    text-align: center;
    border-radius: 3px;
}

.subscribe_bt a:hover {
    color: #363636;
    background-color: #ffffff;
}

.location_text {
    width: 100%;
    float: left;
}

.location_text a {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 16px;
}

.location_text a:hover {
    color: #fe5b29;
}

.padding_left_15 {
    padding-left: 10px;
}



/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #363636;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
}

.copyright_text a {
    color: #fefefd;
}

.copyright_text a:hover {
    color: #fe5b29;
}
</style>

<main  style="min-height: 100vh;padding-top: 3%;">
   
    <div class="container ">
        <div class="content">
            <h1>Archive</h1>
            <h1>Archive</h1>
            
        </div>
    
       


           
    <div class="row " style="gap: 10px;" >
        {% for i in arch %}
        <div class="card-group"   >
            <div class="card" style="border-radius:15px 50px 30px;border-color: black;background-color: rgb(137, 15, 15);" >
              <img class="card-img-top" src="{{i.app.image.url}}" alt="Card image cap" style="border-radius:15px 50px 30px;">
              <div class="card-body">
                <h5 class="card-title"style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{i.app.name }}</h5>
                <p class="card-text text-danger"><b style="font-size: 2rem;" class="text-warning">{{ i.app.price }}</b></p>
                <button type="submit" class="btn btn-danger btn-block mt-4 mb-4 "><a href="{% url 'archiveremove' i.id  %}" style="color: white;text-decoration: none;">Remove</a></button>
              </div>
            </div>
        </div>
          
    {% endfor %}
    </div>
</div>
</main>
<div class="footer_section layout_padding">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="footeer_logo"><img src="{% static 'images/ccccc.png' %}"></div>
        </div>
     </div>
     <div class="footer_section_2">
        <div class="row">
           <div class="col">
              <h4 class="footer_taital">Subscribe Now</h4>
              <p class="footer_text">There are many variations of passages of Lorem Ipsum available,</p>
              <div class="form-group">
                 <textarea class="update_mail" placeholder="Enter Your Email" rows="5" id="comment" name="Enter Your Email"></textarea>
                 <div class="subscribe_bt"><a href="#">Subscribe</a></div>
              </div>
           </div>
           <div class="col">
              <h4 class="footer_taital">Information</h4>
              <p class="lorem_text">There are many variations of passages of Lorem Ipsum available, but the majority </p>
           </div>
           <div class="col">
              <h4 class="footer_taital">Helpful Links</h4>
              <p class="lorem_text">There are many variations of passages of Lorem Ipsum available, but the majority </p>
           </div>
           <div class="col">
              <h4 class="footer_taital">Invesments</h4>
              <p class="lorem_text">There are many variations of passages of Lorem Ipsum available, but the majority </p>
           </div>
           <div class="col">
              <h4 class="footer_taital">Contact Us</h4>
              <div class="location_text"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_15">Location</span></a></div>
              <div class="location_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_15">(+71) 8522369417</span></a></div>
              <div class="location_text"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_15">demo@gmail.com</span></a></div>
              <div class="social_icon">
                 <ul>
                  <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
    
          <!-- Github -->
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
          ></a>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
  <div class="container">
     <div class="row">
      <div class="col-sm-12">
        <p class="copyright_text">2023 All Rights Reserved. Design by <a href="">CRM</a> Distributed By <a href="">AKHIL</a></p>
     </div>
     </div>
  </div>
</div>


{% endblock %}
