{% extends 'crmnavv.html' %}
{% block content %}
{% load static %}

<style>


    /* Additional styling */
    .card {
        cursor: grab;
    }
    body{
        background-color: #ACE2E1;
    }
    .section{
  background-color: #ACE2E1;;
    padding: 10rem 0;
   
}

.roww{
    height: 350px;
    box-shadow: 0px 0px 60px 0px #010101;
 border-radius: 20px;
    
}

 .row1{
    margin-bottom: 10rem;
}

.row2{
    margin-bottom: 10rem;
}

.row3{
    margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box,
.row1 .text-box{
    float: right;
    width: 50%;
}

.row3 .img-box,
.row4 .text-box{
    float: left;
    width: 50%;
}

.row4 .img-box,
.row3 .text-box{
    float: right;
    width: 50%;
}

.roww .img-box{
    height: 100%;
}
.roww .text-box{
    background-color: white;
    height: 100%;
    padding: 2.5rem;
}
.roww .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.roww::after{
    content: '';
    display: block;
    clear: both;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}



span{
    text-shadow: none;
}



.heading{
    text-align: center;
    font-size: 3opx;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
    box-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
    padding: 15px auto;
}

.gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
}

.image{
    position: relative;
    width: 380px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: rotate(10deg);
    border-radius: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
    
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: grayscale(100%);
}

.text{
    position: absolute;
    top: 85%;
    left: 5%;
    font-size: 1.4rem;
    color: #f28482;
    pointer-events: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
    background: #2d2d2d;
    width: 90%;
    text-align: center;
    border-radius: 10px;
}

.image:hover{
    transform: rotate(0deg);
}


.image:hover img {
    filter: grayscale(0);
}
.container1{
    width: 1400px;
    max-width: 90%;
    height: 100%;
    margin: 50px auto;
}



</style>



<main>

    <section class="section" id="con">
        <h1 class="text-dark mt-5 mb-4 text-center">CRM features:</h1>
        <div class="container">
            <div class="roww row1" >
                <div class="img-box"><img src="{% static 'images/crm-strategy.webp' %}" alt="about" style="border-radius: 20px;"></div>
                <div class="text-box" style="background-color: #ade3e9;">
                    <h2 class="lg-heading text-black lt-space">About</h2>
                    <p class="text-gray">Customer relationship management (CRM) is a technology for managing all your company's relationships and interactions with customers and potential customers.</p>
                    
                </div>
            </div>
            <div class="roww row2">
                <div class="img-box "><img src="{% static 'images/act.png' %}" alt="activities" style="border-radius: 20px;"></div>
                <div class="text-box" style="background-color: #ade3e9;style="border-radius: 20px;"">
                    <h2 class="lg-heading text-black lt-space">ACTIVITES</h2>
                    <p class="text-gray">What are the activities of CRM?
                      CRM (customer relationship management) is the combination of practices, strategies and technologies that companies use to manage and analyze customer interactions and data throughout the customer lifecycle </p>
                    
                </div>
            </div>
            <div class="roww row3">
                <div class="img-box"><img src="{% static 'images/ser.png' %}" alt="service" height="90" style="border-radius: 20px;"></div> 
                <div class="text-box" style="background-color: #ade3e9;">
                    <h2 class="lg-heading text-black lt-space">CRM service</h2>
                    <p class="text-gray"> CRM (Customer Relationship Management) systems serve as a hub for organizing and making sense of valuable audience data and insights,.</p>
                    <a href="" class="btn btn-secondary "> more</a>
                </div>
            </div>
            <div class="roww row4">
                <div class="img-box"><img src="{% static 'images/soft.jpg' %}" alt="TYPE" style="border-radius: 20px;"></div>
                <div class="text-box" style="background-color: #ade3e9;">
                    <h2 class="lg-heading text-black lt-space">CRM TYPES</h2>
                    <p class="text-gray">
                      There are 3 types of customer relationship management software that you can use for your business: operational CRM, collaborative CRM, and analytical CRM</p>
                    <a href="" class="btn btn-secondary "> more</a>
                </div>
            </div>
        </div>

</section>
<div class="container container1">
    <h1 class="heading"> CRM <span></span>SOFTWARE</h1> 
     <div class="gallery">
         <div class="image">
             <img src="./images/Sunil Chhetri.jpg" alt="">
             <h1 class="text">Sunil Chhetri</h1>
         </div>
         <div class="image">
             <img src="./images/Cristiano Ronaldo.jpg" alt="">
             <h1 class="text">Cristiano Ronaldo</h1>
         </div>
         <div class="image">
             <img src="./images/Lionel Messi.jpg" alt="">
             <h1 class="text">Lionel Messi</h1>
         </div>
     </div>

    

 </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Sortable(document.getElementById('card-container-1'), {
            group: 'shared',
            animation: 150,
            ghostClass: 'bg-light'
        });

        new Sortable(document.getElementById('card-container-2'), {
            group: 'shared',
            animation: 150,
            ghostClass: 'bg-light'
        });
    });
</script>

{% endblock %}
