{% extends 'crmnavv.html' %}
{% block content %}
{% load static %}

<style>


    /* Additional styling */
    .card {
        cursor: grab;
    }
    body{
        background-color: #71dae6;
    }
    .section{
  background-color: #71dae6;;
    padding: 10rem 0;
}

.roww{
    height: 350px;
    box-shadow: 0px 0px 20px 0px #aaa;
}
 
 .row1{
    margin-bottom: 10rem;
}

.row2{
    margin-bottom: 10rem;
}

.row3{
    margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box,
.row1 .text-box{
    float: right;
    width: 50%;
}

.row3 .img-box,
.row4 .text-box{
    float: left;
    width: 50%;
}

.row4 .img-box,
.row3 .text-box{
    float: right;
    width: 50%;
}

.roww .img-box{
    height: 100%;
}
.roww .text-box{
    background-color: white;
    height: 100%;
    padding: 2.5rem;
}
.roww .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.roww::after{
    content: '';
    display: block;
    clear: both;
}

</style>


<main>

    <section style="border-top: 5px solid rgb(37, 45, 122);" >

        <div class="container text-center mt-5" style="padding-top: 2%;">
            <h3 class="text-danger" >Integrity is important in building relationships<br>
                CRM is all about Customer Relationship Management … but it is also about prospect relationships</h3>
            <hr style="border-color: rgb(10, 24, 188); ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner mt-5 mb-5">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static 'images/crm-strategy.webp' %}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/ser.png' %}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static 'images/act.png' %}" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <hr style="border-color: rgb(26, 0, 128); ">
            <!-- <h4>Over 12 million businesses registered with CRM since the launch, making it one of the most widely
                used customizable CRM software solutions in the world
            </h4> -->
        </div>
    </section>

    <section class="animated-section">
        <div class="container px-4 py-5 px-md-5 text-lg-start">
            <h1 class="text-dark mt-5 mb-4 text-center">CRM Types:</h1>
            <div class="card bg-glass position-relative">
        <div class="container">
            <img class="d-block w-100" src="{% static 'images/soft.jpg' %}">
        </div>
    </section>

   

    <section class="section" id="con">
        <h1 class="text-dark mt-5 mb-4 text-center">CRM features:</h1>
        <div class="container">
            <div class="roww row1" >
                <div class="img-box"><img src="{% static 'images/crm-strategy.webp' %}" alt="about"></div>
                <div class="text-box" style="background-color: #ade3e9;">
                    <h2 class="lg-heading text-black lt-space">About</h2>
                    <p class="text-gray">Customer relationship management (CRM) is a technology for managing all your company's relationships and interactions with customers and potential customers.</p>
                    
                </div>
            </div>
            <div class="roww row2">
                <div class="img-box "><img src="{% static 'images/act.png' %}" alt="activities" ></div>
                <div class="text-box" style="background-color: #ade3e9;">
                    <h2 class="lg-heading text-black lt-space">ACTIVITES</h2>
                    <p class="text-gray">What are the activities of CRM?
                      CRM (customer relationship management) is the combination of practices, strategies and technologies that companies use to manage and analyze customer interactions and data throughout the customer lifecycle </p>
                    
                </div>
            </div>
            <div class="roww row3">
                <div class="img-box"><img src="{% static 'images/ser.png' %}" alt="service" height="90"></div> 
                <div class="text-box" style="background-color: #ade3e9;">
                    <h2 class="lg-heading text-black lt-space">CRM service</h2>
                    <p class="text-gray"> CRM (Customer Relationship Management) systems serve as a hub for organizing and making sense of valuable audience data and insights,.</p>
                    <a href="" class="btn btn-secondary "> more</a>
                </div>
            </div>
            <div class="roww row4">
                <div class="img-box"><img src="{% static 'images/soft.jpg' %}" alt="TYPE"></div>
                <div class="text-box" style="background-color: #ade3e9;">
                    <h2 class="lg-heading text-black lt-space">CRM TYPES</h2>
                    <p class="text-gray">
                      There are 3 types of customer relationship management software that you can use for your business: operational CRM, collaborative CRM, and analytical CRM</p>
                    <a href="" class="btn btn-secondary "> more</a>
                </div>
            </div>
        </div>

</section>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Sortable(document.getElementById('card-container-1'), {
            group: 'shared',
            animation: 150,
            ghostClass: 'bg-light'
        });

        new Sortable(document.getElementById('card-container-2'), {
            group: 'shared',
            animation: 150,
            ghostClass: 'bg-light'
        });
    });
</script>

{% endblock %}
