{% extends 'crmnavv.html' %}
{% block content %}
{% load static %}

<style>
    .card {
        cursor: grab;
    }
    body{
        background-color: #FFF3C7;
    }
    .section{
  background-color: #FFF3C7;

   
}

.roww{
    height: 350px;
    box-shadow: 0px 0px 60px 0px #010101;
 border-radius: 20px;
    
}

 .row1{
    margin-bottom: 10rem;
}

.row2{
    margin-bottom: 10rem;
}

.row3{
    margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box,
.row1 .text-box{
    float: right;
    width: 50%;
}

.row3 .img-box,
.row4 .text-box{
    float: left;
    width: 50%;
}

.row4 .img-box,
.row3 .text-box{
    float: right;
    width: 50%;
}

.roww .img-box{
    height: 100%;
}
.roww .text-box{
    background-color: white;
    height: 100%;
    padding: 2.5rem;
}
.roww .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.roww::after{
    content: '';
    display: block;
    clear: both;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}



span{
    text-shadow: none;
}



.heading{
    text-align: center;
    font-size: 3opx;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
    box-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
    padding: 15px auto;
}

.gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
}

.image{
    position: relative;
    width: 380px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: rotate(10deg);
    border-radius: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
    
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: grayscale(100%);
}

.text{
    position: absolute;
    top: 85%;
    left: 5%;
    font-size: 1.4rem;
    color: #f28482;
    pointer-events: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
    background: #2d2d2d;
    width: 90%;
    text-align: center;
    border-radius: 10px;
}

.image:hover{
    transform: rotate(0deg);
}


.image:hover img {
    filter: grayscale(0);
}
.container1{
    width: 1400px;
    max-width: 90%;
    height: 100%;
    margin: 50px auto;
}
*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
}

#back{
    width: 100%;
    height: 100vh;
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
}


#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;

}

#heroleft{
    min-width: 50%;
}

#heroleft .elem{
    padding: 10%;
    height: 9vw;
  
}

#heroleft .elem h1{
    line-height: 0.9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #faf8f8;
    font-weight: 90;
    font-size: 4vw;
}



#heroright p{
    font-size: 14px;
    text-align: right;
    font-weight: 300;
}

#heroright #imagediv{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;;
    background-size: cover;
    background-position: center;
}

#heroright p:nth-child(3){
    margin-bottom: 100px;
}
#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: #fff;
}

#heroright p{
    font-size: 14px;
    text-align: right;
    font-weight: 300;
}
#img2 {  
    width: 350px; 
    float: left; 
    margin-right: 10px; 
  } 
  #div { 
    float: left; 
    width: calc(100% - 350px - 10px); 
  } 


</style>



<main>
    <br><br>

    <div id="main">
        <div id="back">
            <img src="{% static 'images/crm.jpg' %}" style="border-radius: 30px;">
        </div>
        <div id="top">
            <div id="workingarea">
                
                <div id="hero">
                    <div id="heroleft">
                        <div class="elem">
                            <h1></h1>
                        </div>
                    </div>
                    <div id="heroright">
                        <p></p>
                        <div id="imagediv">

                        </div>
                        <p style="font-size: larger;">WELCOME TO CRM</p>
                        <p>CRM is a technology for managing all your company’s relationships and interactions with customers and potential customers. The goal is simple: Improve business relationships. A CRM system helps companies stay connected to customers, streamline processes, and improve profitability.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <br><br>
    

    <section class="section" id="con">
        
        <div class="container">
            <div class="roww row1" >
                <div class="img-box"><img src="{% static 'images/cc10.jpg' %}" alt="about" style="border-radius: 20px;"></div>
                <div class="text-box" style="background-color: #FFF3C7;border-radius: 20px;">
                    <h3 class="lg-heading text-black lt-space">About</h3>
                    <p class="text-gray"> CRM is a technology for managing all your company's relationships and interactions with customers </p>
                    
                </div>
            </div>
            <div class="roww row2">
                <div class="img-box "><img src="{% static 'images/cc11.jpg' %}" alt="activities" style="border-radius: 20px;"></div>
                <div class="text-box" style="background-color: #FFF3C7;border-radius: 20px;">
                    <h3 class="lg-heading text-black lt-space">ACTIVITES</h3>
                    <p class="text-gray">
                      CRM  is the combination of practices, strategies and technologies that companies use to manage and analyze customer  </p>
                    
                </div>
            </div>
            <div class="roww row3">
                <div class="img-box"><img src="{% static 'images/cc12.jpg' %}" alt="service" height="90" style="border-radius: 20px;"></div> 
                <div class="text-box" style="background-color: #FFF3C7;border-radius: 20px;">
                    <h3 class="lg-heading text-black lt-space">Service</h3>
                    <p class="text-gray"> CRM  systems serve as a hub for organizing and making sense of valuable audience data and insights</p>
                </div>
            </div>
            <div class="roww row4">
                <div class="img-box"><img src="{% static 'images/cc15.png' %}" alt="TYPE" style="border-radius: 20px;"></div>
                <div class="text-box" style="background-color: #FFF3C7;border-radius: 20px;">
                    <h3 class="lg-heading text-black lt-space">TYPES</h3>
                    <p class="text-gray">
                      There are 3 types of CRM software that you can use for your business: operational CRM, collaborative CRM, and analytical CRM</p>
                </div>
            </div>
        </div>

</section>

<div class="container container1">
   
     <div class="gallery">
         <div class="image">
             <img src="{% static 'images/cc.jpg' %}" alt="">
             
         </div>
         <div class="image">
             <img src="{% static 'images/cc2.jpg' %}" alt="">
            
         </div>
         <div class="image">
             <img src="{% static 'images/cc3.jpg' %}" alt="">
             
         </div>
     </div>
     <div class="gallery">
        <div class="image">
            <img src="{% static 'images/cc4.jpg' %}" alt="">
            
        </div>
        <div class="image">
            <img src="{% static 'images/cc5.jpg' %}" alt="">
           
        </div>
        <div class="image">
            <img src="{% static 'images/cc6.jpg' %}" alt="" height="90">
           
        </div>
    </div>
    

    

 </div>
 
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Sortable(document.getElementById('card-container-1'), {
            group: 'shared',
            animation: 150,
            ghostClass: 'bg-light'
        });

        new Sortable(document.getElementById('card-container-2'), {
            group: 'shared',
            animation: 150,
            ghostClass: 'bg-light'
        });
    });
</script>
<script>
    var tl = gsap.timeline()


tl.from("#nav",{
    y:-100,
    duration:0.6,
    delay:0.5,
    opacity:0,
    stagger:0.5
})

tl.from(".elem h1, button",{
    x:-100,
    duration:0.4,
    opacity:0,
    blur:1,
    stagger:0.5
})

tl.from("#imagediv",{
    x:50,
    duration:0.5,
    opacity:0,
    blur:1,
    scale:0,
    stagger:0.5
})

tl.from("#heroright p",{
    x:100,
    duration:0.4,
    opacity:0,
    blur:1,
    stagger:0.5
})
</script>

{% endblock %}
