<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <style>

       .megamenu {
  position: static;
}

.megamenu .dropdown-menu {
            background: none;
            border: none;
            width: 100%;
            animation: fadeIn 0.5s ease;
            transition: opacity 0.3s ease-in-out;
        }

@keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }


code {
  color: #745eb1;
  background: #fff;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}


    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg   shadow-sm" style="background-color: #222b38;" >
            <a class="navbar-brand ml-5 text-info" href="{% url 'crmhome' %}"><img src="{% static 'images/image2.avif' %}" width="50"></a>
            <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                </button>
            <div id="navbarContent" class="collapse navbar-collapse">
              <ul class="navbar-nav mx-auto">
                
                <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase" style="color: rgb(255, 255, 255);">Apps</a>
                  <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                    <div class="container-fluid">
                      <div class="row  rounded-0 m-0 shadow-sm" style="background-color: #DFF5FF;">
                        <div class="col-lg-7 col-xl-12">
                          <div class="p-4">
                            <div class="row">
                              <div class="col-lg-3 mb-4">
                                <h6 class="font-weight-bold text-uppercase">Finance</h6>
                                <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                <ul class="list-unstyled">
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0">Accounting</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Invoicing</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Expenses</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Spreadsheet</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Documents</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Sign</a></li>
                                </ul>
                              </div>
                              <div class="col-lg-3 mb-4">
                                <h6 class="font-weight-bold text-uppercase">Sales</h6>
                                <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                <ul class="list-unstyled">
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">CRM</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Sales</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Point of Sale - Shop</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Point of Sale - Restaurant</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Point of Sale - Subscriptions</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Point of Sale - Restaurant</a></li>
                                  
                                </ul>
                              </div>
                              <div class="col-lg-3 mb-4">
                                <h6 class="font-weight-bold text-uppercase">Website</h6>
                                <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                <ul class="list-unstyled">
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Website Builder</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">eCommerce</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Blog</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Forum</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Live Chat</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">eLearning</a></li>
                                </ul>
                               
                              </div>
                              <div class="col-lg-3 mb-4">
                                <h6 class="font-weight-bold text-uppercase">Inventory and MRP</h6>
                                <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                <ul class="list-unstyled">
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Inventory</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Manufacturing</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">PLM</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Purchase</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Maintenance</a></li>
                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Quality</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 mb-4">
                                  <h6 class="font-weight-bold text-uppercase">Human Resources</h6>
                                  <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                  <ul class="list-unstyled">
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0">Employees</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Recruitment</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Time Off</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Appraisals</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Referrals</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Fleet</a></li>
                                  </ul>
                            
                                </div>
                                <div class="col-lg-3 mb-4">
                                  <h6 class="font-weight-bold text-uppercase">Marketing</h6>
                                  <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                  <ul class="list-unstyled">
                                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Social Marketing</a></li>
                                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Email Marketing</a></li>
                                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">SMS Marketing</a></li>
                                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Events</a></li>
                                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Marketing Automation</a></li>
                                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Surveys</a></li>
                                    
                                  </ul>
                                 
                                </div>
                                <div class="col-lg-3 mb-4">
                                  <h6 class="font-weight-bold text-uppercase">Services</h6>
                                  <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                  <ul class="list-unstyled">
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Project</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Timesheets</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Field Service</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Helpdesk</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Planning</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Appointments</a></li>
                                  </ul>
                                  
                                </div>
                                <div class="col-lg-3 mb-4">
                                  <h6 class="font-weight-bold text-uppercase">Productivity</h6>
                                  <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                  <ul class="list-unstyled">
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Discuss</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Approvals</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">IoT</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">VoIP</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Knowledge</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">WhatsApp</a></li>
                                  </ul>
                                  
                                </div>
                              </div>
                          </div>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase" style="color: rgb(248, 244, 244);">Community</a>
                    <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                      <div class="container-fluid">
                        <div class="row  rounded-0 m-0 shadow-sm" style="background-color: #DFF5FF;">
                          <div class="col-lg-7 col-xl-12">
                            <div class="p-4">
                              <div class="row">
                                <div class="col-lg-3 mb-4">
                                  <h6 class="font-weight-bold text-uppercase">Learn</h6>
                                  <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                  <ul class="list-unstyled">
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0">Tutorials</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Documentation</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Certifications</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Planet Odoo</a></li>
                                
                                  </ul>
                                </div>
                                <div class="col-lg-3 mb-4">
                                  <h6 class="font-weight-bold text-uppercase">Empower Education</h6>
                                  <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                  <ul class="list-unstyled">
                                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Education Program</a></li>
                                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Scale Up! Business Game</a></li>
                                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Visit CRM</a></li>
                                      
                                  </ul>
                                 
                                </div>
                                <div class="col-lg-3 mb-4">
                                  <h6 class="font-weight-bold text-uppercase">Website</h6>
                                  <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                  <ul class="list-unstyled">
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Website Builder</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">eCommerce</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Blog</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Forum</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Live Chat</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">eLearning</a></li>
                                  </ul>
                                 
                                </div>
                                <div class="col-lg-3 mb-4">
                                  <h6 class="font-weight-bold text-uppercase">Collaborate</h6>
                                  <hr style="border-color: rgb(39, 40, 120); width: 70%;  margin: 0 auto 0 0;">
                                  <ul class="list-unstyled">
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Github</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Forum</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Events</a></li>
                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Translations</a></li>
                                    
                                  </ul>
                                  
                                </div>
                              </div>
                              
                            </div>
                          </div>
                         
                        </div>
                      </div>
                    </div>
                  </li>
                
                <li class="nav-item"><a href="{% url 'crmcontact' %}" class="nav-link font-weight-bold text-uppercase" style="color: rgb(248, 246, 246);">Contact</a></li>
                <li class="nav-item"><a href="{% url 'crmsignin' %}" class="nav-link font-weight-bold text-uppercase" style="color: rgb(248, 246, 246);">Signup</a></li>
              </ul>
              </span>
 
              </span>
            </div>
          </nav>
    </header>
    
    {% block content %}
        {% endblock %}
        <footer class="bg-body-tertiary text-center " style="background-color:#DFF5FF ; margin-top: 10%;">
          <!-- Grid container -->
          
            <!-- Section: Social media -->
        
            <!-- Section: Form -->
            
            <!-- Section: Links -->
          </div>
          <!-- Grid container -->
        
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <div class="container p-4">
              <!-- Section: Social media -->
              <section class="mb-4">
                <!-- Facebook -->
               
                <div class="row" id="footer">
                    <div class="col mt-3">
                        <h6 class="pb-2 border-bottom ">NAVIGATION</h6>
                        <p>Community</p>
                        <p>Tutorials</p>
                        <p>Documentations</p>
                        <p>Forum</p>
                        <p>Open Source</p>
                    </div>
                    <div class="col"></div>
                    <div class="col mt-3">
                        <h6 class="pb-2 border-bottom ">SERVICE</h6>
                        <p>Services</p>
                        <p>Hosting</p>
                        <p>Support</p>
                        <p>Upgrade</p>
                    </div>
                    <div class="col"></div>
                    <div class="col mt-3">
                        <h6 class="pb-2 border-bottom ">ABOUT US</h6>
                        <p>CRM</p>
                        <p>xyz</p>
                        <p>kochi</p>
                        <p>91 9865326598</p>    
                    </div>
                    <div class="col"></div>
                    <div class="col mt-3">
                        <h6 class="pb-2 border-bottom ">CONNECT WITH US</h6>
                        <p>Email</p>
                        <p>Phone</p>
                        <p>Whatsapp</p>
                        <p>Facebook</p>
                    </div>
                    
                    </div>
              </section>
              <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
      
            <!-- Github -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-github"></i
            ></a>
            <br>
            © 2020 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
          </div>
          <!-- Copyright -->
        </footer>
</body>
</html>