{% extends 'crmnavv.html' %}
{% block content %}
{% load static %}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: rgba(82, 145, 187, 0.3);
      }
  
      
  
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
     
    /* Style for the button */
/* Style for the button */
.rounded-button {
            border-radius: 20px; /* Adjust the value as needed */
            overflow: hidden;
            animation: pulse 2s infinite alternate; /* Animation */
        }

        /* Keyframes for the animation */
        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(1.1);
            }
        }

        /* Style for the link inside the button */
        .nav-item {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: rgb(214, 83, 83);
        }
</style>
    </style>
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start ">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0  register1" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(220, 64%, 32%)">
            Welcome <br />
            <span style="color: hsl(218, 81%, 75%)"> Please create An Account !</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(219, 52%, 26%)">
            If Account is Already Created Please Login
          </p>
          <button class="rounded-button">
            <a class="nav-item nav-link btn" href="{% url 'crmsignin' %}">login</a>
        </button>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          
  
  
          <div class="container register">
           
                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                      <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" >First name</label>
                              <input type="text" name="firstname" class="form-control" required/>
                              
                            </div>
                          </div>
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" >Last name</label>
                              <input type="text" name="lastname"  class="form-control" />
                              
                            </div>
                          </div>
                        </div>
          
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                        <label class="form-label" >Email address</label>
                          <input type="email" name="email"  class="form-control" />
                          
                        </div>
          
                        <!-- Password input -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                  <label class="form-label" >Username</label>
                                <input type="text" name="username" class="form-control" required/>
                                
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                  <label class="form-label" >Password</label>
                                <input type="password" name="password" class="form-control" />
                                
                              </div>
                            </div>
                          </div>
          
                        
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mt-4 mb-4">
                          Sign up
                        </button>
          
                        <!-- Register buttons -->
                        <div class="text-center">
                          <p>or sign up with:</p>
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                          </button>
          
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google"></i>
                          </button>
          
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                          </button>
          
                          <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-github"></i>
                          </button>
                        </div>
                      </form>
                        
                    </div>
                </div>
            </div>
    
        </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script>
        {% for msg in messages %}
        swal({
        title: "{{msg}}",
        text: "{{msg.tags}}",
        icon: "{{msg.tags}}",
      });
        {% endfor %}
       </script>
  <!-- Section: Design Block -->
{% endblock %}